@model SetPasswordViewModel
@{
	ViewData["Title"] = "Set password";
	Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-box">
	<div class="login-logo">
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">@ViewData["Title"]</p>

			<form method="post" role="form">
				<div asp-validation-summary="All" class="input-group mb-3 invalid-feedback">
				</div>
				<input asp-for="@Model.Code" type="hidden" />
				<div class="input-group mb-3">
					<input type="email" class="form-control" placeholder="Email Address" asp-for="@Model.Email">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fa fa-envelope"></span>
						</div>
					</div>
					<span asp-validation-for="@Model.Email" class="invalid-feedback"></span>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" placeholder="Please Enter Password" asp-for="@Model.Password">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fa fa-lock"></span>
						</div>
					</div>
					<span asp-validation-for="@Model.Password" class="invalid-feedback"></span>
				</div>
				<div class="input-group mb-3">
					<input type="password" class="form-control" placeholder="Please confirm your password" asp-for="@Model.ConfirmPassword">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fa fa-lock"></span>
						</div>
					</div>
					<span asp-validation-for="@Model.ConfirmPassword" class="invalid-feedback"></span>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block">Reset</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
		</div>
		<!-- /.login-card-body -->
	</div>
</div>
@section Scripts {
<script>
	$(document).ready(function () {
		$('#Password').focus();
	});
</script>
}
