@using chapterone.web.identity
@model IEnumerable<ApplicationUser>
@{
	ViewData["Title"] = "Users";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>@ViewData["Title"]</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-primary">
						<div class="card-body">
							@if (!Model.Any())
							{
								<div class="row">
									<div class="col-sm-12 d-flex justify-content-center">
										<h5>No Users Found</h5>
									</div>
								</div>
								<div class="row d-flex justify-content-center">
									<div class="">
										<a asp-controller="Auth" class="btn btn-block btn-outline-primary"
									   asp-action="CreateUser">Create</a>
									</div>
								</div>
							}
							else
							{
								<div class="d-flex flex-row-reverse form-group">
									<a asp-controller="Auth" class="btn btn-primary"
								   asp-action="CreateUser">Create</a>
								</div>
								<div class="row" id="userTableDiv">
									<div class="col-sm-12">
										<table id="userTable" class="table table-bordered table-striped">
											<thead>
												<tr>
													<th>Name</th>
													<th>Email</th>
													<td>Roles</td>
													<th>Confirmed</th>
													<th>Version</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var user in Model)
												{
													<tr>
														<td>@user.Name</td>
														<td>@user.Email</td>
														<td>@string.Join(", ", user)</td>
														<td>@(user.EmailConfirmed ? "Yes": "No")</td>
														<td>@user.Version</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

@section Scripts{
<script>
		$(document).ready(function () {
			$('#userTable').DataTable();
		});
</script>
}