@model IEnumerable<UserViewModel>
@{
	ViewData["Title"] = "Users";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>@ViewData["Title"]</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-primary">
						<div class="card-body">
							@if (!Model.Any())
							{
								<div class="row">
									<div class="col-sm-12 d-flex justify-content-center">
										<h5>No Users Found</h5>
									</div>
								</div>
								<div class="row d-flex justify-content-center">
									<a class="btn btn-primary" asp-action="Create">Create</a>
								</div>
							}
							else
							{
								<div class="d-flex flex-row-reverse form-group">
									<a class="btn btn-primary" asp-action="Create">Create</a>
								</div>
								<div class="row" id="userTableDiv">
									<div class="col-sm-12">
										<table id="userTable" class="table table-bordered table-striped">
											<thead>
												<tr>
													<th>Name</th>
													<th>Email</th>
													<td>Roles</td>
													<th>Confirmed</th>
													<th>Version</th>
													<th style="text-align:center" width="50px">Action</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var user in Model)
												{
													<tr>
														<td>@user.Name</td>
														<td>@user.Email</td>
														<td>@string.Join(", ", user.Roles)</td>
														<td>@user.EmailConfirmed</td>
														<td>@user.Version</td>
														<td>
															<a data-toggle="tooltip" data-original-title="Delete User." class="btn btn-danger btn-sm" id="deleteUser" style="color:#ffffff" onclick="onDeleteUser('@user.Id')">
																<i class="fa fa-trash" aria-hidden="true"></i>
															</a>
														</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div id="tempContentDiv"></div>

@section Scripts{
<script>
	$(document).ready(function () {
		$('#userTable').DataTable();
	});

	//#region Delete User
	function onDeleteUser(id){
		var tempUrl = "/Admin/Users/Delete?id=" + id;
		$.get(tempUrl, function(response) {
			$('#tempContentDiv').html(response);
			var messege = $('#tempContentDiv').find('#messege')[0].textContent;
			deleteDialog(messege);
		})
		  .fail(function() {
			toastr.success("error");
		  })
	}

	function deleteDialog(text){
		Swal.fire({
			title: 'Are you sure?',
			text: text,
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#28a745',
			cancelButtonColor: '#d33',
			reverseButtons: true,
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
			if (result.value) {
				processDelete()
			}
			else {
				$('#tempContentDiv').html("");
			}
		})
	}

    function processDelete() {
        var form = $('#deleteUserForm');
        $(form).validate();
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: "/Admin/Users/Delete",
                data: $(form).serialize(),
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.messege);
                        setTimeout(function () { window.location.reload(); }, 1000);
                    }
                }
            });
        }
    }
	//#endregion
</script>
}