
@{
    Layout = null;

    var fieldErrors = TempData["error_fields"] as string[];
    var errorMessage = TempData["error_message"] as string;

    var postbackUsername = TempData["postback_username"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Setup - Research Library</title>

    <style>
        label {
            margin-left: 0.8em;
        }

        .small-container {
            max-width: 20em;
            margin: auto;
        }

        .btn {
            min-width: 10em;
        }
    </style>

</head>
<body>
    <div class="container">

        <br /><br />

        <div class="small-container">
            <h3 class="text-center">Setup</h3>
            <br />
            <p class="text-muted">Please set the credentials for your first user</p>
            <form action="/setup" method="post">

                @if (!string.IsNullOrWhiteSpace(errorMessage))
                {
                <div class="alert alert-danger" role="alert">@errorMessage</div>
                }

                <div class="form-group">
                    @{
                        var isUserInvalid = fieldErrors?.Contains("username") ?? false;
                    }

                    <label class="@(isUserInvalid ? "text-danger" : "")" for="username">Email</label>
                    <input class="form-control @(isUserInvalid ? "is-invalid" : "")" type="text" id="username" name="username" value="@postbackUsername" />
                </div>

                <div class="form-group">
                    @{
                        var isPasswordInvalid = fieldErrors?.Contains("password") ?? false;
                    }

                    <label class="@(isPasswordInvalid ? "text-danger" : "")" for="password">Password</label>
                    <input class="form-control @(isPasswordInvalid ? "is-invalid" : "")" type="password" id="password" name="password" />
                </div>

                <input class="btn btn-success btn-lg btn-block" type="submit" value="Setup" />
            </form>
        </div>
    </div>
</body>
</html>
